/* css styles */
/* Beispiel für die Navbar-Hintergrund ersetzen */
.navbar {
  background-color: #F2CCD4; /* gewünschte Farbe links */
  background-image: url("images/banner_2.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* Optional: Schriftfarbe in der Navbar anpassen */
.navbar a, .navbar .navbar-brand {
  color: white !important;
}